@import url("https://rsms.me/inter/inter-display.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono");

:root {
  /* Preset colors */
  --background-color: #ffbc41;
  --foreground-color: #000000;
  --link-color: #056fec;
  --link-visited-color: #8228f4;

  --bgcolor-level1: rgba(0, 0, 0, 0.1);
  --fgcolor-level1: rgb(60, 49, 94);

  --code-bg: #f9f9f9;
  --spacing: 64px;

  font-size: 16px;
  font-family: var(--font1);
  font-weight: 450;
  line-height: 1.4;
  letter-spacing: 0.005em;
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --background-color: color(display-p3 0.941 0.69 0.235);
    --foreground-color: color(display-p3 0 0 0);
    --link-color: color(display-p3 0.188 0.429 0.894);
    --link-visited-color: color(display-p3 0.47 0.183 0.921);

    --bgcolor-level1: color(display-p3 0 0 0 / 0.1);
    --fgcolor-level1: color(display-p3 0.228 0.194 0.357);
  }
}

:root {
  --font1: "InterDisplay";
}
@supports (font-variation-settings: normal) {
  :root {
    --font1: "InterDisplay var";
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
}

/* for viewports 700px and below */
@media only screen and (max-width: 700px) {
  :root {
    font-size: 16px;
    --spacing: 32px;
  }
  body {
    flex-direction: column;
  }
  #title svg {
    zoom: 1.25;
    margin-top: 64px;
  }
  #main {
    margin-top: 32px;
  }
  .quicklinks,
  .sm {
    width: 100%;
  }
  .sub {
    margin-top: 32px;
  }
  .block {
    padding-inline-end: 1rem;
  }
}

/* for viewports 400px and below */

@media only screen and (max-width: 400px) {
  :root {
    font-size: 12px;
    --spacing: 16px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.1rem;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

p {
  word-spacing: -0.03em;
}

.playgroundTitle {
  pointer-events: none;
  user-select: none;
  font-size: 2.2rem;
  margin: 1rem 0 2rem 0;
}
