body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
